.jumbotron{
    background-image: url(../images/imagen1.jpg);
    background-position: center;
    color:black;
    margin-top: 50px;
}

.container{
    padding-top: 50px;
}
footer{
    background : rgb(131, 125, 125);
    padding: 20px 100px 0 100px;
    margin-top: 20px;
    color:white;
}
a{
    color : white;
}

.col-2{
    padding-left: 60px;
}

.card-hotel{
    flex: 1 278px;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;
    background : rgb(89, 82, 189);    
}
.img-body{
    width: 100%;
    height: 350px;
    padding-top: 10px;
}

.nav-link{
    color: black;
}
.tab-content{
    padding-top: 10px;
}

.img1{
    width: 400px;
    height: 400px;
}