@purple:#a70af0;
@yellow : #f0e40a ;
@red : #f00a1d;

.margenes(@top : 0 px) {
    margin-top: @top;
}
.paddines(@top : 0 px) {
    padding-top: (@top);
}
.jumbotron{
    background-image: url(../images/imagen1.jpg);
    background-position: center;
    color:black;
    .margenes(50px);
}

.container{
    .paddines(50px);
}
footer{
    background :@purple;
    padding: 20px 100px 0 100px;
    .margenes(20px);
    color:white;
}
a{
    color : white;
}

.col-2{
    padding-left: 60px;
}

.card-hotel{
    flex: 1 278px;
    .margenes(10px);
}
.btn-reserva{
    width: 100%;
    background : @purple;    
}
.img-body{
    width: 100%;
    height: 350px;
    .paddines(10px);
}

.nav-link{
    color: black;
}
.tab-content{
    .paddines(10px);
}

.img1{
    width: 400px;
    height: 400px;
}