$purple:#a70af0;
$yellow : #f0e40a ;
$red : #f00a1d;

@mixin margenes($top) {
    margin-top: $top;
}
@mixin paddines($top) {
    padding-top: ($top);
}
.jumbotron{
    background-image: url(../images/imagen1.jpg);
    background-position: center;
    color:black;
    @include margenes(50px);
}

.container{
    @include paddines(50px);
}
footer{
    background :$purple;
    padding: 20px 100px 0 100px;
    @include margenes(20px);
    color:white;
}
a{
    color : white;
}

.col-2{
    padding-left: 60px;
}

.card-hotel{
    flex: 1 278px;
    @include margenes(10px);
}
.btn-reserva{
    width: 100%;
    background : $purple;    
}
.img-body{
    width: 100%;
    height: 350px;
    @include paddines(10px);
}

.nav-link{
    color: black;
}
.tab-content{
    @include paddines(10px);
}

.img1{
    width: 400px;
    height: 400px;
}